{% extends 'md_template/base_template.html' %}
{% block page_title %}
Manage Employee
{% endblock page_title %}
{% block main_content %}
{% load static %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <a class="btn btn-primary" href="{% url 'add_employee' %}" role="button">+ Add Employee</a> <br/>&nbsp;
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Employee Details</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <!-- drop down for filter -->
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle">Filter</button>
                        <div class="dropdown-content">
                        <a  href="{% url 'manage_employee_sort' 'Hod' %}">Hod</a>
                        <a href="{% url 'manage_employee_sort' 'Employee' %}">Employee</a>
                        </div>
                      </div>
                      <!-- Enddrop down for filter -->
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Category</th>
                        <th>Gender</th>
                        <!-- <th>Profile Pic</th> -->
                        <th>Session </th>
                        <th>Department Name</th>
                        <!-- <th>Last Login</th>
                        <th>Date Joined</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for employees in employee %}
                      <tr>
                        <td>{{ employees.admin.id }}</td>
                        <td>{{ employees.admin.first_name }}  {{ employees.admin.last_name }}</td>
                        <td>{{ employees.admin.username }}</td>
                        <td>{{ employees.admin.email }}</td>
                        <td>{{ employees.category }}</td>
                        <td>{{ employees.gender }}</td>
                        <!-- <td><img src="{{ employees.profile_pic }}" style="width: 100px;"></td> -->
                        
                        <td>{{ employees.session_year_id.session_start_year }} TO {{ employees.session_year_id.session_end_year }}</td>
                        <td>{{ employees.departmentname_id.department_name }}</td>
                        <!-- <td>{{ employees.admin.last_login }}</td>
                        <td>{{ employees.admin.date_joined }}</td> -->
                        <td><a href="edit_employees/{{ employees.admin.id }}" class="btn btn-success">Edit</a>
                          <form action="{% url 'delete_employee' employees.admin.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;">
                            {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Delete</button></td>
                        </form></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
              
              
    </div>
            <!-- /.card -->

           
    </div>
  </section>
  <!-- /.content -->
  <style>
    .dropbtn {
      background-color: #353f4a;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
    </style>
{% endblock main_content %}
{% block custom_js %}
<script type="text/Javascript">
  window.ondelete= function(){
    var isValid =confirm('Are you sure Do you Want To Delete ?');
    if (!isValid){
      event.preventDefault();
      // alert("It Wont delete");
    }
  }
</script>
{% endblock custom_js %}