{% extends 'md_template/base_template.html' %}
{% block page_title %}
Add Session
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Session Year</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/add_session_save" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Session Start Year</label>
                    <input type="date" class="form-control" name="session_start" placeholder="Enter Session Start Year" required>
                  </div>
                  <div class="form-group">
                    <label>Session End Year</label>
                    <input type="date" class="form-control" name="session_end" placeholder="Enter Session End Year" required>
                  </div>
                  
                <div class="form-group">
                    {% if messages %}
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px;">{{message}}</div>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Session Year</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Leave Apply History </h3>
              </div>

              <div class="table">
              <table class="table">
                  <tr>
                      <th>ID</th>
                      <th>Session Start</th>
                      <th>Session End</th>
                      <th>Action</th>
                  </tr>
                  {% for row in session %}
                  <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.session_start_year }}</td>
                    <td>{{ row.session_end_year }}</td>
                    <td>
                      <a href="{% url 'edit_session' row.id %}" class="btn btn-success">Edit</a>
                      <form action="{% url 'delete_session' row.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;">
                        {% csrf_token %}
                      <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
              </div>
           
    </div>
  </section>
  <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script type="text/Javascript">
  window.ondelete= function(){
    var isValid =confirm('Are you sure Do you Want To Delete ?');
    if (!isValid){
      event.preventDefault();
    }
  }
</script>
{% endblock custom_js %}