{% extends 'md_template/base_template.html' %}
{% block page_title %}
Manage Project
{% endblock page_title %}
{% block main_content %}
{% load static %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <a class="btn btn-primary" href="{% url 'md_employee_add_project' %}" role="button">+ Add Project</a> <br/>&nbsp;
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Project Details</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
  
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Project Details</th>
                        <th>Files</th>
                        <th>Department </th>
                        <th>Head Of Department</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for project in list %}
                    {% for project in project %}
                      <tr>
                        <td>{{ project.project_id.id }}</td>
                        <td>{{ project.project_id.project_name }}</td>
                        <td>{{ project.project_id.project_details }}</td>
                        <td>
                          <a href="{{ project.image.url }}">View File</a></td>
                        <td>{{ project.project_id.departmentname_id.department_name}}</td>
                        <td>{{ project.project_id.employee_id.admin.first_name }} {{ project.project_id.employee_id.admin.last_name }}</td>
                        <td><a href="{% url 'edit_project' project.project_id.id %}" class="btn btn-success">Edit</a>
                          <form action="{% url 'delete_project' project.project_id.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;">
                            {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form></td>
                      </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
              
              
    </div>
            <!-- /.card -->

           
    </div>
  </section>
  <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script type="text/Javascript">
  window.ondelete= function(){
    var isValid =confirm('Are you sure Do you Want To Delete ?');
    if (!isValid){
      event.preventDefault();
      // alert("It Wont delete");
    }
  }
</script>
{% endblock custom_js %}